<nav class="navbar navbar-expand-lg navbar-light bg-light " style="padding-top: 0;">
    <div class=" container-fluid navegacionN">
      <a class="navbar-brand">
        <img src="assets/images/logoNotycov.png" alt="" width="130" height="33">
      </a>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav menuT ">
          <a class="nav-link active " aria-current="page" [routerLink]= "['inicio']">Home</a>
          <a class="nav-link" [routerLink]= "['localizar']" >Localizar</a>
          <a class="nav-link" [routerLink]= "['sintomas']">Síntomas</a>
  
        </div>

      </div>

      <div>
                  <!-- Button trigger modal -->
          <button type="button" class="btn  btn-outline-success float-end d-flex btnperill" data-bs-toggle="modal" data-bs-target="#exampleModal">
 
            Usuario

          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Informacíon del Usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <nav class=" headerperfil ">
                    <div class=" ">
                    
                      <div class="collapse">
                        
                      </div>
                    </div>
                  </nav>


                  <img class="imgUsuario " src="assets/images/perfil.png" alt="" width="130" height="130">
                 

                  <h2 class="text-center txtnomU">{{usuario.name | json}}</h2>
                  <h5 class="text-center txtcorreo">{{usuario.email | json}}</h5>

                </div>
                <div class="modal-footer">
                  <button type="button" 
                          class="btn btn-secondary" 
                          data-bs-dismiss="modal"
                          (click)="logout()">
                          Cerrar Sesión
                        </button>
                </div>
              </div>
            </div>
          </div>
              
      </div>
      
    </div>
  </nav>
  <router-outlet></router-outlet>

  <!--           <a class="nav-link btnperill float-end" [routerLink]= "['perfil']">Perfil</a>
-->