
:root{
  --blanco: #ffffff;
  --negro: #000000;
  --primario: #4097AA;
  --primariobajito: #C8DDE2;
  --secundario: #2D4053;
  --crema: #F3DECA;

}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  

  
    
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
      font-family: Poppins-Bold;
  }
  
  body, html {
      height: 100%;
      width: 100%;

      font-family: Poppins-Regular, sans-serif;
  }
  
.parte1{
}
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }

  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
  }
 
  .container-login100{

  }
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/

  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 5px #999; 


  }
  
  .wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #999; 

  }
  .login100-form{
    padding: 50px;

  }
  
  
  /*------------------------------------------------------------------
  [ Form ]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }

  .textbien{
    display: block;
    font-family: Poppins-Bold;
    font-size: 35px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
  }
  
  .label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
  }
  
  .input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
  
  }
  
  .login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background-color: lightseagreen;
    top: 0;
    left: -100%;
 
  }
  
  .login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
  }
  
  .wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
  }
  
  .login100-form-btn:disabled {
    background-color: grey;
  }
  
  
  /*[ PADDING ]
  ///////////////////////////////////////////////////////////
  */
  
  .p-t-8 {padding-top: 8px;}
  .p-t-17 {padding-top: 17px;}
  .p-t-31 {padding-top: 31px;} 
  .p-t-35 {padding-top: 35px;}
  .p-t-49 {padding-top: 49px;}
  .p-t-60 {padding-top: 60px;}

  .p-b-8 {padding-top: 8px;}
  .p-b-17 {padding-top: 17px;}
  .p-b-31 {padding-top: 31px;} 
  .p-b-35 {padding-top: 35px;}
  .p-b-49 {padding-top: 49px;}
  .p-b-60 {padding-top: 60px;}

 
  .p-b-0 {padding-bottom: 0px;}
  .p-b-1 {padding-bottom: 1px;}
  .p-b-2 {padding-bottom: 2px;}
  .p-b-3 {padding-bottom: 3px;}
  .p-b-4 {padding-bottom: 4px;}
  .p-b-5 {padding-bottom: 5px;}
  .p-b-6 {padding-bottom: 6px;}
  .p-b-7 {padding-bottom: 7px;}
  .p-b-8 {padding-bottom: 8px;}
  .p-b-9 {padding-bottom: 9px;}
  .p-b-10 {padding-bottom: 10px;}
  .p-b-11 {padding-bottom: 11px;}
  .p-b-12 {padding-bottom: 12px;}
  .p-b-13 {padding-bottom: 13px;}
  .p-b-14 {padding-bottom: 14px;}
  .p-b-15 {padding-bottom: 15px;}
  .p-b-16 {padding-bottom: 16px;}
  .p-b-17 {padding-bottom: 17px;}
  .p-b-18 {padding-bottom: 18px;}
  .p-b-19 {padding-bottom: 19px;}
  .p-b-20 {padding-bottom: 20px;}
  .p-b-21 {padding-bottom: 21px;}
  .p-b-22 {padding-bottom: 22px;}
  .p-b-23 {padding-bottom: 23px;}
  .p-b-24 {padding-bottom: 24px;}
  .p-b-25 {padding-bottom: 25px;}
  .p-b-26 {padding-bottom: 26px;}
  .p-b-27 {padding-bottom: 27px;}
  .p-b-28 {padding-bottom: 28px;}
  .p-b-29 {padding-bottom: 29px;}
  .p-b-30 {padding-bottom: 30px;}
  .p-b-31 {padding-bottom: 31px;}
  .p-b-32 {padding-bottom: 32px;}
  .p-b-33 {padding-bottom: 33px;}
  .p-b-34 {padding-bottom: 34px;}
  .p-b-35 {padding-bottom: 35px;}
  .p-b-36 {padding-bottom: 36px;}
  .p-b-37 {padding-bottom: 37px;}
  .p-b-38 {padding-bottom: 38px;}
  .p-b-39 {padding-bottom: 39px;}
  .p-b-40 {padding-bottom: 40px;}
  .p-b-41 {padding-bottom: 41px;}
  .p-b-42 {padding-bottom: 42px;}
  .p-b-43 {padding-bottom: 43px;}
  .p-b-44 {padding-bottom: 44px;}
  .p-b-45 {padding-bottom: 45px;}
  .p-b-46 {padding-bottom: 46px;}
  .p-b-47 {padding-bottom: 47px;}
  .p-b-48 {padding-bottom: 48px;}
  .p-b-49 {padding-bottom: 49px;}
  .p-b-50 {padding-bottom: 50px;}
  .p-b-51 {padding-bottom: 51px;}
  .p-b-52 {padding-bottom: 52px;}
  .p-b-53 {padding-bottom: 53px;}
  .p-b-54 {padding-bottom: 54px;}
  .p-b-55 {padding-bottom: 55px;}
  .p-b-56 {padding-bottom: 56px;}
  .p-b-57 {padding-bottom: 57px;}
  .p-b-58 {padding-bottom: 58px;}
  .p-b-59 {padding-bottom: 59px;}
  .p-b-60 {padding-bottom: 60px;}

  
  /*[ MARGIN ]
  ///////////////////////////////////////////////////////////
  */
 
  .m-b-23 {margin-bottom: 23px;}
 
  .m-l-r-auto {margin-left: auto;	margin-right: auto;}
  .m-l-auto {margin-left: auto;}
  .m-r-auto {margin-right: auto;}
  
  
  
  /*[ TEXT ]
  /* ------------------------------------ */
  
  
  /*[ Top Bottom Left Right ]
  -----------------------------------------------------------
  */
  .top-0 {top: 0;}
  .bottom-0 {bottom: 0;}
  .left-0 {left: 0;}
  .right-0 {right: 0;}
  
  .top-auto {top: auto;}
  .bottom-auto {bottom: auto;}
  .left-auto {left: auto;}
  .right-auto {right: auto;}
  
  
  .bo-cir {border-radius: 50%;}
  
  .of-hidden {overflow: hidden;}
  
  .visible-false {visibility: hidden;}
  .visible-true {visibility: visible;}
  
  

  
  /*[ Flex ]
  -----------------------------------------------------------
  /* ------------------------------------ */
 

  
  .flex-col-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  }
  
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*-----------home ---------------
  //////////////////////////////////*/

  #home1{
    margin-top: 50px;
}
.imagenpos{

    border-radius: 2px;
    box-shadow: 2px 2px 5px #999;
    flex: 0 0 auto;
    margin-bottom: 34rem!important;
    max-height: 100;
    max-width: 50%;
    margin-left: 100px;
}
.parte1{
    margin-top: 0 !important;
    height: 1000px;


}
.textoparte1{
    box-shadow: none;
    max-height: 350px;
    margin-left: 3rem;
    margin-top: 7rem;
}
.textoparte2{
    box-shadow: none;
    max-height: 350px;
    margin-right: 3rem;
    margin-top: 7rem;

}

.btnhome1{
    border-radius: 8px;
    border: none;
    background-color: var(--primario);
    font-size: 16px;
    color: var(--negro);


}

.texth1{
    font-weight: 600;
}

/**---------HOME main--------------*/

.magenimeg{
  margin-top: 100px;
}
.imgfondoforma{
  margin-top: -100px;

}

.section-1{
    padding: 8vmin 0;
    height: 600px;
}
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 110%;
    border-radius: 8px;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position:  absolute;
    top: 2vmax;
    left: -8vmin;
    background: white;
    border-radius: 8px;
    text-align: left;
    height: 85%;
    padding: 3vmin 2vmin 5vmin 7vmin;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2rem;

}

.section-1 .row .col-md-6 .panel p{
     font-size: 20px;
     color: rgba(0, 0, 0, 0.5);
}
.paneltxto{
     
    margin-top: 1px;
}
.section-1 .row .col-md-6 .panel p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.desarecer{
  position: unset;

}

.txtparte1{
  font-size: 20px;
}

/*-------------------------sintomas------------------------------*/

.section-2{
    height: 700px;
}
.section-2 .row .col-lg-12:last-child{
    position: relative;
}
.section-2 .row .col-lg-12 .panel{
    top: 2vmax;
    background: var(--blanco);
    border-radius: 8px;
    text-align: center;
    height: 80%;
    padding: 1.5vmin 5vmin 10vmin 8vmin;
    z-index: 1;
}
.section-2 .row .col-lg-12 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 40px;
    margin-top: 0px;
}

.section-2 .row .col-lg-12 .panel p{
     font-size: 20px;
     color: rgba(0, 0, 0, 0.5);
}

.iconossin{
    margin-top: 10px;
    margin-left: 75px;
    margin-block-end: 30px;
    

}
.panelicono{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 130%;
    border-radius: 10px;
    margin-top: -50px;
}
.panel3{
    margin-left: 8px;

}
.icono1{
    margin-top: 40px;
    font-size: 20px;
}
/*-----------------------------------personas que afecta --------------------------------------------*/
.panel4{
    width: 100%;
    height: 400px;
    margin-left: 80px;
}
.txtpanel4{
    margin: 20px;
    margin-left: 30px;
    
}
.panel4lis{
    margin-top: -15px;
    margin-left: 30px;
}
.panel4m{
    margin-left: 30px;

}
.espaciofinal{
margin-top: 300px;
}


/* ------------------------------*/

.navegacionN{
  min-height: 60px;
  overflow: hidden;
  background: var(--primariobajito);
  /*border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px; */
  box-shadow: 2px 2px 5px #999; 
  padding-left: 80px;   
}

header .logo h2{
  font-size: 16px;
  display: inline-block;
  margin: 0;
}
header .logo h2{
 font-weight: 800;
 text-transform: uppercase;
}
header .logo{
 color: #FFF
}

.menu{
 font-size: 20px;
 background-color: transparent;

}

/*  .nvarir{
  text-align: center;
  margin-left: 1200px;
} */


/*------------------pagina de inicio -----------------------------------------*/

/*SLIDER*/

.carouselcolor p, h1 {
  color: #2D4053;
}
.titulo{
  margin-top: 60px;
  font-weight: 800;
  font-size: 60px;
}


.carousel-caption {
  position: absolute;
  top: 20%;
  bottom: 1.25rem;
  left: 12%;
  padding-top: 5.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left
}
.sub{
  font-size: 28px;
  margin-top: 15px;
}

.btnI{
  color: #fff;
  background-color: #2D4053;
  border-color: var(--secundario);
  border: 3px solid #2D4053;
  border-radius: 20px;
  padding-left: 25px ;
  padding-right: 25px;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 20px;

}
.btnR{
  color: #2D4053;
  background-color: #fff;
  border-color: #0b0d0e;
  border: 3px solid #2D4053;
  border-radius: 20px;
  padding-left: 25px ;
  padding-right: 25px;
  margin-top: 20px;

}
.carousel-caption{
  margin-top: -30px;
}

.h2Nosotros{
  margin-top: 50px;
  font-weight: 600; 
  font-size: 30px;
  
}

.sub2{
  color: #2D4053;
  margin-top: -10px;

}


/*main*/
.row-sp{
max-width: 80%;
margin-right:auto;
margin-left: auto;
margin-top: 50px;
}
.row{
--bs-gutter-x: 4.5rem;
}
.seguridad{
  margin: 10px;
  
}
.localizar{
  margin: 10px;
}
.distancia{
  margin: 10px;
 
}
.col-sm-4 {
  flex: 0 0 auto;
  width: 20%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #999;
}
.img1{
margin-top: 50px;

}
.mainslp{
font-weight: 600;
  
}

/*GALERIA*/

.galeria{
margin: 100px; width: 1400px; height: 100px;
}
#galeria img{
  width: 100%;
  height: 250;

}
#galeria .col-lg-4{
  padding: 25px;
  margin: 0 !important;
}

/**FINAL*/
.final{
  margin-top: 150px;
padding: 80px; 
background-color: var(--primario); 
}

/*/////////////////////////////SINTOMAS///////////////////////////////////////////////*/

.sintomas{
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #999;

}


.txt1{
font-weight: 600;
font-size: 30px;
margin-left: 50px;
padding-top: 1px;

}

.preguntas{
  font-weight: 600;
  margin-left: 50px;
  margin-top: 50px;

}

.pregin{
  margin-top: 10px;
}
.formilarioSin{
  
}

.btnok{
  width: 120px;
  margin-right: 50px;
  background-color: var(--primario);
  border-color: var(--negro);
}


/*///////////////////////////perfil///////////////////////////////////////*/
.headerperfil{

  margin-top: 0;
  height: 150px;
  background-color: var(--crema);
  border-radius: 0px 0px 100px 100px;


}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0rem;
}

.btnperill{
  margin-right: 50px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 520px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-dialog{
  margin-block-end: 50%;
}

.imgUsuario{
margin-inline-start: 33%;
margin-top: -60px;

}
.txtcorreo{
  margin-top: 20px;
}

.txtnomU{
  margin-top: 30px;

}
.fondomodal{
  background-color: var(--crema);
}


/*///////////////////////////Localizar///////////////////////////////////////*/

.botonesLocalizar{
  width: 250px;
  text-align: left;
  border-color: var(--secundario);
  margin-top: 5px;

}

.txt_btn_localizar{
 background-color: var(--blanco);
 color: #2D4053;

}

.wrap-login100.p-l-55.p-r-55.p-t-65.p-b-54 {
  margin-top: -75px;
}
.txtloginn{
  font-size: 20px;
  margin-right: 20x;
}

.p-b-35 {
  padding-bottom: 0px;
}

