
<header>
    <div class="container colornav">
        <div class="nav row rounder-top align-items-strech justify-content-between">
             <div class="col-md-12 col-lg logo d-flex aling-items-center justify-content-center justify-content-lg-start">
               <h2></h2>
               <p></p> 
            </div>

            <nav class="col-md-12 col-lg-auto menu d-flex aling-items-stretch flex-wrap flex-sm-nowrap"> 
               
                <!--     <a href="#" class="c-1 d-flex aling-items-center">

                    <div class="d-flex flex-column text-center">
                        <span>prtafolios</span>
                    </div>
               
                </a>
                <a href="#" class="c-2 d-flex aling-items-center">

                    <div class="d-flex flex-column text-center">
                        <span>inicio</span>
                    </div>
               
                </a>
                <a href="#" class="c-3 d-flex aling-items-center">

                    <div class="d-flex flex-column text-center">
                        <span>prtafolios</span>
                    </div>
               
                </a>  -->
            
            </nav>
        </div>    
    </div>
</header>

<!-- slider-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carouselcolor ">

      <div class="carousel-item active">

        <img src="assets/images/fondo4.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block logo">

            <div class="logo1 ">
              <img class="col-4" src="assets/images/logoNotycov.png" width="500" alt="logotipo">

            </div>

            
            <p class="sub">La prevención salva vidas.</p>
            <h5 class="sub2"> Infórmate bien para protegerte y cuidar de quienes te rodean</h5>


              <a class="btn btn-light btnI" [routerLink]= "['login']" >Iniciar Sesión</a>
              <a class="btn btn-light btnR" [routerLink]= "['registro']">Registrarse</a>

        </div>
      </div>
      
    </div>
  </div>

  <div>
    <h2 class="   text-center h2Nosotros">
      Acerca de nosotros
    </h2>
  </div>

  <main>
      <section>
          <div class="container conteiner-sp">
              <div class="row row-sp">

                  <div class="col-6 col-sm-4 text-center seguridad" style="height:400px;width:300px;">
                      <img class="img1" src="assets/images/seg.png" width="100" alt="banner 01">
                      <h3 class="mainslp">Seguridad</h3>
                      <p>Todos los datos que se proporcionan son protegidos.</p>
                  </div>
                  <div class="col-6 col-sm-4 text-center localizar " style="height:400px;width:300px;">
                    <img class="img1" src="assets/images/ubicacion1.png" width="100" alt="banner 02">
                    <h3 class="mainslp">Localizar</h3>
                    <p>Podrá localizar los casos positivos de el Covid-19 desde un mapa .</p>
                </div>
                <div class="col-6 col-sm-4 text-center distancia" style="height:400px;width:300px;">
                    <img class="img1" src="assets/images/distancia1.png" width="100" alt="banner 03">
                    <h3 class="mainslp">Prevenir</h3>
                    <p>Ayudamos a evitar que se propague el virus de el Covid-19.</p>
                </div>
              </div>
          </div>

      </section> 
  </main>


  <section>
    <div class="final">

    </div>
  </section>
  

