
<!--   
  <nav class="navbar navbar-expand-lg navbar-light bg-light " style="padding-top: 0;">
  <div class=" container-fluid navegacionN">
    <a class="navbar-brand">
      <img src="assets/images/logoNotycov.png" alt="" width="130" height="33">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav menuT ">
        <a class="nav-link active " aria-current="page" [routerLink]= "['inicio']">Home</a>
        <a class="nav-link" [routerLink]= "['localizar']" >Localizar</a>
        <a class="nav-link" [routerLink]= "['sintomas']">Sintomas</a>
        <a class="nav-link" [routerLink]= "['perfil']">Perfil</a>

      </div>
    </div>
  </div>
</nav>
-->
<body background ="" class="">
  

<section class="container" >


  <section id="home1">
       <div class="parte1">
          <h1></h1>
          
              <div class="imgfondoforma">
                <div class="   border-0" style="height:40vh;"  >
                  <div class="d-flex w-100  ">
                    
                      <img class=" magenimeg rounded float-start d-flex imagen1l bd-highlight imagenpos col-lg-5 col-md-6 col-sm-8"  src="assets/images/imagenhome1.jpg" alt="iamgenh">

                      <div class="textoparte1  ">
                        <h1 class="texth1 magenimeg">Localizar casos</h1>
                        <p class="txtparte1">Muestra las ubicaciónes de las personas que tienen Covid-19, mediante un mapa.</p>
                        <a  class="btn btn-primary gap-2 col-4 mx-auto btnhome1 imghome" [routerLink]= "['localizar']"  >Entrar</a>
                      </div>
                    
                  </div>
                </div>

                <div class="w-100  border-0" style="height:40vh;"  >
                  <div class="card-body d-flex w-100 ">


                      <div class="textoparte2 w-100 text-end">
                        <h1 class="text-end texth1 magenimeg">Síntomas</h1>
                        <p class="text-end txtparte1">Responde un cuestionario para saber los síntomas y en que estado de salud te encuentras.</p>
                        <a [routerLink]= "['sintomas']"  class="btn btn-primary gap-2 col-4 mx-auto btnhome1">Entrar</a>
                      </div>
                      <img class="magenimeg rounded float-start d-flex imagen1l bd-highlight imagenpos col-lg-4 col-md-6 col-sm-8 " src="../assets/images/Regustriimg.png" alt="iamgenh">

                    
                  </div>
                </div>
             </div>

          
        </div>
  </section>

  <hr>
  <div class="text-center p-4 ">
    <h1>
      Información sobre de el Covid-19
    </h1>
  </div>

  <main>
    <section class="section-1">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="pray d-flex  w-100 " >
              <img src="assets/images/noty2.jpg" class="col-lg-5 col-md-6 col-sm-8" alt="iamgenmain">
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel text-left paneltxto ">
              <h1 class="paneltxto">¿Qué es?</h1>
              <p class="pt-4 txt1">El coronavirus SARS-Cov-2 es un virus que apareció en China. Después se extendió a todos los continentes del mundo provocando una pandemia. Actualmente Europa y América son los más afectados. </p>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>

  <section>
    <div class="conteiner text-center section-2 md-4">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel text-left">
            <h1>¿Cuáles son los síntomas?
            </h1>
            <p>Las personas con COVID-19 tienen los siguientes signos y síntomas:</p>
            <p>Tos y/o fiebre y/o dolor de cabeza.
              Y se acompaña de al menos uno de los siguientes: dolor o ardor de garganta, ojos rojos, dolores en músculos o articulaciones (malestar general).
              Los casos más graves tienen dificultades para respirar o falta de aire en sus pulmones.</p> 
            </div>
        </div>
        <div class="row panel3 md-4 ">
          <div class="col-lg-4 panelicono ">
            <div class="panel2 text-center">
              <img class="col-lg-8 col-md-12 icono1" width="130" src="assets/images/tos.png" alt="iamgenmain">
              <h3 class="icono1" >Tos</h3>

            </div>
            
          </div>

          <div class="col-lg-4  panelicono">
            <div class="panel2 text-center">
              <img class="col-lg-8 col-md-12 icono1" width="150" src="assets/images/fiebre.png" alt="iamgenmain">
              <h3 class="icono1" >Fiebre</h3>
            </div>
          </div>

          <div class="col-lg-4 panelicono ">
            <div class="panel2 text-center">
              <img class="col-lg-8 col-md-12 icono1" width="150" src="assets/images/gripa.png" alt="iamgenmain">
              <h3 class="icono1" >Dificultad para respirar</h3>

            </div>
          </div>

          <div class="col-lg-4 panelicono ">
            <div class="panel2 text-center">
              <img class="col-lg-8 col-md-12 icono1" width="150" src="assets/images/cabeza.png" alt="iamgenmain">
              <h3 class="icono1" >Dolor de cabeza</h3>

            </div>
          </div>

          <div class="col-lg-4 panelicono ">
            <div class="panel2 text-center">
              <img class="col-lg-8 col-md-12 icono1" width="80" src="assets/images/garganta.png" alt="iamgenmain">
              <h3 class="icono1" >Gripa</h3>

            </div>
          </div>
        </div>
              <!--  
                  <div class="col-lg-4 d-flex iconossin md-4">
                        <img class="d-flex iconossin" width="100" src="assets/img/tos.png" alt="iamgenmain">
                        <img class="d-flex iconossin" width="100" src="assets/img/fiebre.png" alt="iamgenmain">
                        <img class="d-flex iconossin" width="100" src="assets/img/garganta.png" alt="iamgenmain">
                        <img class="d-flex iconossin" width="100" src="assets/img/gripa.png" alt="iamgenmain">
                        <img class="d-flex iconossin" width="100" src="assets/img/cabeza.png" alt="iamgenmain">

                    </div>
                -->
        
    

      </div>
    </div> 
  </section>

  <section>
    <div class=" row col-13 d-flex">
      <div class="panel4 text-left d-flex">
        <div class="txtpanel4  ">
          <h1 class="md4 col-lg-8">¿A qué personas afecta más? </h1>
          <h5 class="md4">Afecta a todas las personas, pero corren más riesgo:  </h5> 
          <p class="panel4m" >personas mayores.</p>
          <p class="panel4lis">personas embarazadas.</p>
          <p class="panel4lis">personas con alguna enfermedad previa como cáncer, diabetes o hipertensión. </p>
        </div>

        <div>
          <img class="w-100" width="500" src="assets/images/personasafecta.jpg" alt="iamgenmain">
        </div>
      </div> 
    </div>
    
  </section>


    <section class="section-1 md-4">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="pray d-flex">
              <img src="assets/images/noty.jpg" class=" desarecer " alt="iamgenmain">
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel text-left paneltxto ">
              <h1 class="paneltxto">Hay cosas que puedes hacer para evitar el contagio del COVID-19. Por ejemplo:
              </h1>
              <p class="pt-4 txt1 ">Lavar las manos con jabón durante al menos 20 segundos.
                No tocar tus ojos, nariz o boca si tus manos no están limpias.
                Cuando tosas o estornudes, tapa la naríz y la boca con el brazo o  un pañuelo desechable, que deberá ser inmediatamente colocado en la basura en una bolsa de plástico.
                Mantener una sana distancia con las demás personas.</p>

            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="espaciofinal">

    </div>
    

  



</section>


<section>
  <div class="final espaciofinal">

  </div>
</section>
</body>




